<h1 class="help">お直しメニュー</h1>
<p class="revive">-Alter Clothes Revive Menu-</p>

<div class="container">

<div class="well text-center page-header">
<h3 class="rename">スカート・ワンピース<img class="s01" src="assets/s03.png"><img class="s01" src="assets/w02.png" ></h3>    
</div>

<table class="table table-hover table-bordered">

<tr class="info"><th class="text-center">種類</th><th class="text-center">タイプ</th><th class="text-center">直し作業</th><th class="text-center">料金（裏地ナシ）</th><th class="text-center">料金（裏地アリ）</th></tr>

<tr><td class="text-center">スカート,ワンピース</td><td class="text-center">タイト</td><td>タタキ（ミシン仕上げ）</td><td class="text-right">¥500</td><td class="text-right">¥800</td></tr>
<tr><td></td><td></td><td>シングル（手まつり仕上げ）</td><td class="text-right">¥800</td><td class="text-right">¥1,000</td></tr>
<tr><td></td><td></td><td>スリット（移動）</td><td class="text-right">¥500</td><td class="text-right">¥800</td></tr>
<tr><td></td><td class="text-center">フレアー</td><td>タタキ(ミシン仕上げ)</td><td class="text-right">¥800</td><td class="text-right">¥1,000</td></tr>
<tr><td></td><td></td><td>シングル（手まつり仕上げ）</td><td class="text-right">¥1,000</td><td class="text-right">¥1,200</td></tr>
<tr><td></td><td></td><td>2ｍ以上</td><td class="text-right">¥200</td><td class="text-right">¥400</td></tr>
<tr><td></td><td></td><td>丈出し（ウラウチ）</td><td class="text-right">¥500</td><td class="text-right">-</td></tr>
<tr><td></td><td></td><td>ウェストで丈入れ</td><td class="text-right">¥2,000</td><td class="text-right">¥2,500</td></tr>
<tr><td></td><td></td><td>ファスナー移動</td><td class="text-right">¥500</td><td class="text-right">¥800</td></tr>
<tr><td></td><td></td><td>ウェスト丈入れ（総ゴムの場合）</td><td class="text-right">¥1,500</td><td class="text-right">¥2,000</td></tr>

</table>

<div class="well text-center">
  <h3 class="rename">パンツ<img class="s01" src="assets/p01.png"></h3>
</div>

<table class="table table-hover table-bordered">

<tr class="info"><th class="text-center">種類</th><th class="text-center">直し作業</th><th class="text-center">料金（裏地ナシ）</th><th class="text-center">料金（裏地アリ）</th></tr>

<tr><td class="text-center">パンツ</td><td>タタキ</td><td class="text-right">¥500</td><td class="text-right">¥800</td></tr>
<tr><td></td><td>シングル</td><td class="text-right">¥800</td><td class="text-right">¥1,000</td></tr>
<tr><td></td><td>ダブル仕上げ</td><td class="text-right">¥1,000</td><td class="text-right">¥1,200</td></tr>
<tr><td></td><td>スリット移動　2本</td><td class="text-right">¥600</td><td class="text-right">-</td></tr>
<tr><td></td><td>裾巾入</td><td class="text-right">¥800</td><td class="text-right">-</td></tr>
<tr><td></td><td>ウェスト直し</td><td class="text-right">¥1,500</td><td class="text-right">¥1,800</td></tr>
<tr><td></td><td>ファスナー取替え</td><td class="text-right">¥1,000</td><td class="text-right">¥1,200</td></tr>
<tr><td></td><td>ファスナー代金</td><td class="text-right">¥100</td><td class="text-right">-</td></tr>

</table>

<div class="well text-center">
  <h3 class="rename">シャツ・ブラウス・ワンピース<img class="s01" src="assets/s02.png"><img class="s01" src="assets/b01.png"><img class="s01" src="assets/w01.png"></h3>
</div>

<table class="table table-hover table-bordered">

<tr class="info"><th class="text-center">種類</th><th class="text-center">直し作業</th><th class="text-center">料金</th></tr>

<tr><td class="text-center">シャツ・ブラウス・ワンピース</td><td>袖丈　タタキ</td><td class="text-right">¥500</td></tr>
<tr><td class="text-center"></td><td>シングル（手まつり仕上げ）</td><td class="text-right">¥800</td></tr>
<tr><td class="text-center"></td><td>カフス付</td><td class="text-right">1,200</td></tr>
<tr><td class="text-center"></td><td>カフス付（タンザク移動）</td><td class="text-right">¥1,600</td></tr>
<tr><td class="text-center"></td><td>肩巾入</td><td class="text-right">¥1,500</td></tr>

</table>

<div class="well text-center">
  <h3 class="rename">ジャケット<img class="s01" src="assets/j01.png"></h3>
</div>

<table class="table table-hover table-bordered">

<tr class="info"><th class="text-center">種類</th><th class="text-center">直し作業</th><th class="text-center">料金(裏ナシ)</th><th class="text-center">料金(裏アリ)</th></tr>

<tr><td class="text-center">ジャケット</td><td>袖丈　筒状</td><td class="text-right">¥1,500</td><td class="text-right">¥2,000</td></tr>
<tr><td class="text-center"></td><td>袖丈　アキミセ有り</td><td class="text-right">¥2,000</td><td class="text-right">¥2,500</td></tr>
<tr><td class="text-center"></td><td>肩巾入</td><td class="text-right">¥1,500</td><td class="text-right">¥2,000</td></tr>
<tr><td class="text-center"></td><td>着丈入</td><td class="text-right">¥2,000</td><td class="text-right">¥2,500</td></tr>

</table>

<div class="well text-center">
  <h3 class="rename">コート<img class="s01" src="assets/c01.png"></h3>
</div>

<table class="table table-hover table-bordered">

<tr class="info"><th class="text-center">種類</th><th class="text-center">直し作業</th><th class="text-center">料金(裏ナシ)</th><th class="text-center">料金(裏アリ)</th></tr>

<tr><td class="text-center">コート</td><td>袖丈　筒状</td><td class="text-right">¥2,000</td><td class="text-right">¥2,500</td></tr>
<tr><td class="text-center"></td><td>肩巾入</td><td class="text-right">¥2,000</td><td class="text-right">¥2,500</td></tr>
<tr><td class="text-center"></td><td>着丈入</td><td class="text-right">¥2,500</td><td class="text-right">¥3,000</td></tr>

</table>

<div class="well text-center">
  <h3 class="rename">その他<img class="s01" src="assets/b02.png"></h3>
</div>

<table class="table table-hover table-bordered">

<tr class="info"><th class="text-center">種類</th><th class="text-center">お直し作業</th><th class="text-center">料金(裏ナシ)</th><th class="text-center">料金(裏アリ)</th></tr>

<tr><td class="text-center">その他</td><td>上着　ファスナー取替え</td><td class="text-right">¥1,500</td><td class="text-right">¥2,000</td></tr>
<tr><td class="text-center"></td><td>ファスナー代金</td><td class="text-right">¥200</td><td class="text-right">¥200</td></tr>
<tr><td class="text-center"></td><td>両脇マチ入れ</td><td class="text-right">¥2,500</td><td class="text-right">¥3,000</td></tr>
<tr><td class="text-center"></td><td>材料費（生地、裏地）</td><td class="text-right">¥500</td><td class="text-right">¥800</td></tr>
<tr><td class="text-center"></td><td>スカートやパンツ総ゴムに変更</td><td class="text-right">¥2,000</td><td class="text-right">¥3,000</td></tr>
<tr><td class="text-center"></td><td>破れ　タタキ　～5cm迄</td><td class="text-right">¥300 ~ ¥800</td><td class="text-right">-</td></tr>
<tr><td class="text-center"></td><td>破れ　タタキ　　6cm～</td><td class="text-right">¥800 ~</td><td class="text-right">-</td></tr>
<tr><td class="text-center"></td><td>釦取り付け　１ヶ</td><td class="text-right">¥100</td><td class="text-right">-</td></tr>
<tr><td class="text-center"></td><td>直しの場所にデザインがある場合</td><td class="text-right">¥500</td><td class="text-right">¥800</td></tr>

</table>


</div>
