<% provide(:title, @user.name) %>
<div class="shows jumbotron">
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1 class="show">
        <%= gravatar_for @user %>
        <%= @user.name %>
      <p style="font-size: 40px; text-align: center; color: white;">ログインしました</p>
      <p style="font-size: 20px; text-align: center; color: white;">右上のメニューをご覧ください</p>
      </h1>
    </section>
  </aside>
</div>
</div>