@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */
   
body {
  background-image: url("nuno_44sn.png");
   padding-top: 200px;
   background-size: cover;
}


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  background-image: url("nuno_04s.png")
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 120px;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 6em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.7em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 5px;
  font-size: 5em;
  color: #7F7F7FF8;
  letter-spacing: -1px;
  padding-top: 15px;
  margin-top: 20px; 
  font-weight: bold;
}

#logo:hover {
  color: #B8B8B8FF;
  text-decoration: none;
}

p#alter {
  padding-top:25px;
  font-size: 20px;
  color: #7F7F7FF8;
}

.navbar-default .navbar-nav > li > a {
color: #ffffff;
}


/* footer */

footer {
  margin-top: 250px;
  padding-top: 5px;
  color: #777;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
