@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */



body {
  background-image: url("nuno_44sn.png");
  background-size: cover;
}


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  background-image: url("nuno_04s.png");
  color: #FBFCFEFF;
  margin-top: 200px;
  padding-top: 0px;
}

.center h1 {
  margin-bottom: 30px;
  padding-top: 40px;
}

.login {
  margin-top: 200px;
  padding-top: 10px;
  padding-bottom: 5px;
  background-image: url("nuno_04s.png");
  color: #FBFCFEFF;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

 h1 {
  font-size: 60px;
  letter-spacing: -2px;
  margin-bottom: 10px;
  text-align: center;
}

h2 {
  font-size: 6em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.7em;
  line-height: 1.7em;
}





/* header */

#logo {
  float: left;
  margin-right: 5px;
  font-size: 5em;
  color: #7F7F7FF8;
  letter-spacing: -1px;
  padding-top: 15px;
  margin-top: 20px; 
  font-weight: bold;
}

#logo:hover {
  color: #B8B8B8FF;
  text-decoration: none;
}

p#alter {
  padding-top:25px;
  font-size: 20px;
  color: #7F7F7FF8;
}

header li {
 font-size: 17px;
} 

.navbar-default {
background-color: rgba(0,0,0,0);
border: none;
}




/* footer */

footer {
  margin-top: 250px;
  padding-top: 5px;
  color: #777;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
      font-size: 20px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  margin-bottom: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 20px;
  @include box_sizing;
  box-shadow:2px 5px 10px 1px gray !important;
  border-radius: 5px;
}

input {
  height: 50px !important;
  font-size: 27px !important;
  padding: 20px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.btn {
  margin-top: 30px;
}