<footer class="footer navbar-fixed-bottom">
 <div>
     <small>Hedgehog    -Alter Cloths Revive-</small>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <a class="miyuki navbar-brand" href="/" alt="miyukiロゴ"></a>
    </ul>
  </nav>
 </div>
</footer>