<footer class="footer navbar-fixed-bottom">
 <div class="container">
     <small>Hedgehog    -Alter Cloths Revive-</small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "help", help_path %></li>
    </ul>
  </nav>
 </div>
</footer>